@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter:wght@700&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inter:wght@700&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "ABeeZee", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.topbar .logo {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.rightnav {
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}
.rightnav span {
  padding-right: 5px;
  font-size: 14px;
  color: #4f4f4f;
}
.rightnav .btn {
  border: 2px solid #2f80ed;
  border-radius: 8px;
  width: 80px;
}
.topbar .rightnav a {
  text-decoration: none;
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
}
.note p {
  padding-top: 10px;
  height: 25px;
  font-weight: 400;
}
.full-stack {
  text-shadow: 1px 2px 0px black;
}
.font_type {
  font-style: italic;
  font-weight: bolder;
}
.hero-section {
  margin: 50px;
}
.hero-section P {
  color: #595959;
}
.hero-content {
  margin-top: 10%;
}
.credibilities {
  display: flex;
  justify-content: center;
  align-items: center;
  width: Fixed (711px);
  height: Fixed (77px);
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  background-color: white;
  box-shadow: 0px 2px 40px 0px #00000014;
  padding-left: 15px;
}
.credibilities-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-right: 40px;
}
.credibilities-card h5 {
  color: black;
  font-style: italic;
  font-size: 15px;
  font-weight: bolder;
}
.credibilities-card p {
  font-size: 10px;
}
.credibilities-card img {
  margin-right: 5px;
  padding-bottom: 8px;
}
.tag {
  width: 261px;
  height: 41px;
  margin-top: 100px;
  margin-left: 5px;
  padding: 10px, 20px, 10px, 20px;
  border-radius: 23px;
  gap: 10px;
  box-shadow: 0px 2px 40px 0px #0000001f;
}
.tag p {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
}
.Q-form {
  margin-top: 6%;
  position: relative;
  left: 20%;
  width: Hug (415px);
  height: Hug (496px);
  padding: 28px, 24px, 32px, 24px;
  border-radius: 18px;
  gap: 28px;
  box-shadow: 0px 25px 54px 0px #0000001f;
}
.Q-form .topcontent h2 {
  font-size: 25px;
  padding-top: 15px;
}
.Q-form .topcontent p {
  font-size: 12px;
  padding-top: 5px;
}
.fill-1 {
  margin-left: 25px;
  width: 200px;
  height: 30px;
  border-radius: 6px;
  background-color: #fafafa;
}
.courser_offered {
  background: #ecf8ff;
}
.courser_offered #first-p {
    background: -webkit-linear-gradient(276.97deg, #992FED 0%, #2F80ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  padding-top: 50px;
}
.course-plans{
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
}
.beginner-tag{
    Width:230px;
  Height: 29px;
  border-radius: 7px;
  position: absolute;
  left: 310px;
 bottom: -240px;
}
.beginner{
    border: 1px solid #E2E2E2;
    width: 498px;
    height: 563px;
    border-radius: 9px;
    
    margin-right: 10px; 
}
.beginner:hover{
    border: 2px solid BLUE;
    width: 498px;
    height: 563px;
    border-radius: 9px;
    
    margin-right: 10px; 
}
.intermediate:hover{
    border: 2px solid BLUE;
    width: 498px;
    height: 563px;
    border-radius: 9px;
    
    margin-right: 10px; 
}
.intermediate{
    border: 1px solid #E2E2E2;
    width: 498px;
    height: 563px;
    border-radius: 9px;
    margin-left: 10px;
}
.container {
    display: flex;
  flex-wrap: wrap;
  padding-inline: 3vw;
  justify-content: space-around;
  }
  
@media screen and (max-width:480px){
    .topbar{
        flex-direction: column !important;
    align-items: center !important;
    margin: auto;
    }
    
    .hero-section{
        flex-direction: column !important;
        align-items: center !important;
        margin: auto;
    }
    .hero-content{
        margin-top: 40%;
        margin-left: 30%;
    }
    .courser_offered{
        width: 150%;
    }
    .course-plans {
        flex-direction: column !important;
        align-items: center !important;
        margin: auto;
    }
    .intermediate{
        margin-top: 10px;
    }
    .beginner-tag{
        Width:230px;
      Height: 29px;
      border-radius: 7px;
      position: absolute;
      left: 200px;
     bottom: -350px;
    }
}
